body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Climate Crisis', sans-serif !important;
}

body {
    background-color: #10101010;
}

.bike-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 20px;
}

.bike-card {
    border-radius: 50px;
    overflow: hidden;
}

.bike-image {
    width: 90%;
    margin: 16px auto 0;
    display: block;
    height: auto;
}
.bike-detail-image {
    width: 100%;
    border-radius: 50px;
    corner-shape: superellipse(1.6);
}

.two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
}

@media (max-width: 992px) {
    .bike-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 640px) {
    .bike-grid {
        grid-template-columns: 1fr;
    }
}